<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>DigiSalud</title>
    <link rel="stylesheet" href="~/content/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dataTables.min.css" />
    <link rel="stylesheet" href="~/Content/buttons.dataTables.min.css" />

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Content/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/datepicker/locales/bootstrap-datepicker.es.min.js"></script>

    <script type="text/javascript" src="~/Scripts/dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/Scripts/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/Scripts/jszip.min.js"></script>
    <script type="text/javascript" src="~/Scripts/chart.loader.js"></script>

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
