################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/DigiSalud/bin
/DigiSalud/obj/Debug
/Entidades/bin/Debug
/Entidades/obj/Debug
/Repositorio/bin/Debug
/Repositorio/obj/Debug
/Servicios/bin/Debug
/Servicios/obj/Debug
